@media only screen and (min-width: 1008px) {
  
    .title {
          font-size: 2em;
    }

    .main {
        padding: 50px;
    }
     /* week 7 */
     .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
        border-radius: 10px;
        width: 100%;
        }
    .gallery figure:hover{
        box-shadow: 0px 20px 40px  #1d3557; 
        border-radius: 10px;
    }
    .lazyload img {
        width: 300px;
        height: 400px;
        filter: blur(0em);
        transition: filter 0.5s;
      }
      
       img[data-src] {
        filter: blur(0.2em);
      }
     /* Week 9*/

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
}

.cards section {
    display: block;
    width: 250px;
    padding: 1em;
    margin: 1em;
}

.cards section img {
    width: 90%;
}

}


